<div class="text-center">
  <h2>******** Now your result ********</h2>

  <h4>Your word: <%= @attempt %></h4>
  <h4>Time Taken to answer: <%= @results[:time] %></h4>
  <h4>Translation: <%= @results[:translation] %></h4>
  <h4>Your score: <%= @results[:score] %></h4>
  <h4>Message: <%= @results[:message] %></h4>

  <h2>*****************************************************</h2>
</div>
